
body {
  color: #fff;
}

html {
  &, body {
    width: 100%;
    height: 100%;
  }
}

body {
  font-family: Poppins, sans-serif;
}

a, button, input, label, select, textarea {
  touch-action: manipulation;
}

h1, h2, h3, h4, h5, h6 {
  color: #191813;
}

img {
  max-width: 100%;
}

.sb-section-opt-light div, .sb-section-opt-light h1, .sb-section-opt-light h2, .sb-section-opt-light h3, .sb-section-opt-light h4, .sb-section-opt-light p, .sb-section-opt-light span, .sb-section-opt-light input {
  color: #191813;
}
