
.footer_navbar .navbar-nav .nav-link {
  padding-left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1.5rem;
}

.contact-details__contact,
.contact-details__row {
  i {
    font-size: 20px;
  }
}