
/* styles.css */
.map-container {
  width: 100%;
  height: 450px; /* Задайте висоту */
}

.map-iframe {
  width: 100%; /* Або будь-яке інше значення */
  height: 100%; /* Або будь-яке інше значення */
  border: 0;
}
