
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  background-color: $dark-pink;
  border-color: $dark-pink;
}

.sb-section-opt-light .btn:focus, .sb-section-opt-light .btn:link:focus, .sb-section-opt-light .btn:visited:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px $dark-pink;
}

.btn {
  font-weight: 500;
  transition: 0.3s background-color ease-in-out;
}

.btn.btn-primary {
  border-radius: 0;
}


.btn-outline-secondary {
  border-color: #fff;
  border-style: solid;
}

.btn-lg {
  padding: 10px 30px;
  font-size: 1rem;
}


.btn-outline-secondary:hover,
.btn-outline-secondary:link:hover,
.btn-outline-secondary:visited:hover {
  color: #fff;
  border-color: $pink;
  background-color: $pink;
}

.btn {
  transition: all .15s ease-in-out;
}

a.btn-primary.btn,
a.btn-primary.btn:visited {
  color: #fff;

}

.btn-primary {
  color: #fff;
  border-color: $pink;
  background-color: $pink;

  &[role="button"] {
    color: #fff;

  }

  &:hover {
    color: #fff;
    border-color: $pink-hover;
    background-color: $pink-hover;
  }

  &:focus, &:link:focus, &:visited:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px $dark-pink;
  }

}

.btn-block {
  display: block;
  width: 100%;
}

  .btn-outline-secondary {
    color: #fff;
    border-color: #fff;
    border-radius: 0;
    border-width: 2px;
  }

.btn-outline-secondary {

  &:focus, &:link:focus, &:visited:focus {
    box-shadow: 0 0 0 2px #162415, 0 0 0 4px $dark-pink;
  }

  &:focus, &:active,
  &:link:focus,
  &:link:active,
  &:visited:focus,
  &:visited:active {
    color: #fff;
    border-color: $dark-pink;
    background-color: $dark-pink;
  }

}