@use "base/variables";


.bg_section {
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: auto;
  padding: 20px;
  min-height: 95vh;

  .image_block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;


    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3)),
    url('../assets/img/bg.jpeg');
    filter: grayscale(100%);
    opacity: 0.3;
    background-attachment: fixed;
  }

  .sb-container {
    display: flex;
    flex: 100%;

    padding: 0;
    position: relative;
    z-index: 200;
    height: 100%;
  }

  .bg_section_main_title {
    font-size: 2rem;

    @include media-breakpoint-up(md) {
      font-size: 4rem;
    }

    color: #fff;
    letter-spacing: 0;
  }

  .bg_section_small_title {
    color: #fff;
  }

}